LLM-s-can-Design-Sustainable-Concrete-a-Systematic-Benchmark-Code-/
.env
venv/
.DS_Store
results/
.ipynb_checkpoints/
images/
.idea
*.iml

!experiments/results/hackathon_results
!experiments/results/plots/hackathon
!experiments/results/tables