LLM-s-can-Design-Sustainable-Concrete-a-Systematic-Benchmark-Code-/
.env
venv/
.DS_Store
results/
.ipynb_checkpoints/
images/
.idea
*.iml

!results/hackathon_results
!results/plots/hackathon
!results/tables